{{define "nav"}}
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <span class="logo-lg"><b>云课后台管理系统</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs">{$user_name}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                <li>
                                    <a href="/admin/main/setpassword" class="btn btn-default btn-flat">
                                        <i class="fa fa-user text-aqua"></i> 修改密码
                                    </a>
                                </li>
                                <li>
                                    <a href="/admin/main/logout" class="btn btn-default btn-flat"><i class="fa fa-power-off text-yellow"></i>注销</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
{{end}}